---
import { Image } from 'astro:assets'

// Layout
import Section from '@layouts/Section.astro'

// Components
import Card from '@components/Card.astro'
import Logo from '@components/Logo.astro'

// Assets
import dashboard from '@assets/dashboard.svg'
import GradientButton from '@components/GradientButton.astro'

// Constants
import ECOSYSTEM, {
  type IEcosystemProps,
  type IFeatures
} from '@constants/org/Ecosystem'
---

<div class='hidden lg:block'>
  {
    ECOSYSTEM.map((e: IEcosystemProps, index: number) => (
      <div class='relative'>
        <Section>
          <div class='flex flex-col w-[580px] mt-16 py-24 z-2'>
            <Logo name={e.name} />

            <div class='my-6'>
              <h2 class='text-4xl'>{e.title}</h2>
            </div>

            <div class='mb-14'>
              <p class='text-xl text-accent'>{e.subtitle}</p>
            </div>

            <div class='flex gap-6'>
              {e.features.map((f: IFeatures) => (
                <Card
                  leadingIcon={f.leadingIcon}
                  title={f.title}
                  body={f.body}
                  trailingIcon={f.trailingIcon}
                />
              ))}
            </div>

            <div class='mt-14 w-40'>
              <GradientButton text='Explore' path={e.path} />
            </div>
          </div>
        </Section>
        <Image
          src={dashboard}
          alt='Dashboard'
          class='absolute top-0 right-0 w-3/5 z-[-1]'
        />
      </div>
    ))
  }
</div>
