---
import Logo from '@components/Logo.astro'

import GradientButton from '@components/GradientButton.astro'

interface Props {
  name: string
  title: string
  description: string
  path: string
  buttonText: string
}

const { name , title, description, path, buttonText } = Astro.props as Props
---

<div
  class='  border-b w-full bg-white text-black border-white/20 mt-2 py-10 lg:py-36'
>
<div class="w-[50%] flex flex-col items-center text-center  mx-auto">
  <div class="flex text-center  ">

    <Logo logoType='dark' name={name} className='mb-4 lg:mb-8' />
    <h1 class="text-3xl font-bold p-1">{name}</h1>
  </div>
  <h1 class='text-4xl  mb-3 lg:mb-6'>
    {title}
  </h1>
  <p class='text-accent text-lg mb-8 lg:mb-10'>
    {description}
  </p>
  <div class="text-white">
    <GradientButton text={buttonText} path={path} />
  </div>
</div>
</div>
